<div id="<%= dom_id website %>">
  <p>
    <strong>User:</strong>
    <%= website.user_id %>
  </p>

  <p>
    <strong>Theme:</strong>
    <%= website.theme_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= website.name %>
  </p>

  <p>
    <strong>Subdomain:</strong>
    <%= website.subdomain %>
  </p>

  <p>
    <strong>Content data:</strong>
    <%= website.content_data %>
  </p>

</div>
