<div id="<%= dom_id component %>">
  <p>
    <strong>Name:</strong>
    <%= component.name %>
  </p>

  <p>
    <strong>Html content:</strong>
    <%= component.html_content %>
  </p>

  <p>
    <strong>Css content:</strong>
    <%= component.css_content %>
  </p>

  <p>
    <strong>Js content:</strong>
    <%= component.js_content %>
  </p>

  <p>
    <strong>Editable fields:</strong>
    <%= component.editable_fields %>
  </p>

</div>
